[submodule "fei"]
	path = fei
	url = https://github.com/DarThunder/fei
[submodule "poema"]
	path = poema
	url = https://github.com/DarThunder/poema
[submodule "ordinario-ftw"]
	path = ordinario-ftw
	url = https://github.com/DarThunder/ordinario-ftw
